.PageBookReader
{
    height: 70vh;
}

.PageBookReader *
{
    max-height: 70vh;
    max-width: 100%;
}

.PageBookReader img
{
    object-fit: contain;
}

.PageBookReaderWrapper
{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    padding: 25px 50px;
    display: inline-block;
    height: 80vh;
}
